@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: papayawhip;
}

header{
    /* height: 100%; */
    position: relative;
    width: 100%;
    padding: 5px;
    background-color: indianred;
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    width: 200px;
    list-style: none;
    /* display: inline-block; */
    margin: 10px;

    border:1px solid white;
    border-radius: 7px;
    background-color: salmon;
}

li:hover{
    /* display: inline-block;
    margin: 10px;
    padding: 5px 7px;
    border:1px solid white;
    border-radius: 7px; */
    background-color: rgb(235, 88, 72);
}

li p {
  padding: 5px 7px;
}

a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
}