@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html{
    font-size: 62.5%;
}
body{
    background-color: indianred;
}
.main--container{
    max-width: 1500px;
    margin: 0 auto;
}
.principal--title{
    text-align: center;
    font-size: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.second--title{
    text-align: center;
    font-size: 3rem;
}
.principal--text{
    text-align: center;
    font-size: 1.8rem;
    max-width: 80ch;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.section--container{
    width: 100%;
    height: auto;
}
.items--list{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    justify-items: center;
    margin-bottom: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.item a{
    width: 28rem;
    height: 8rem;
    display: inline-block;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    padding: 2rem 7px;
    border:1px solid white;
    background-color: salmon;
    border-radius: 7px; 
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
}
.item a:hover{
    /* display: inline-block;
    margin: 10px;
    padding: 5px 7px;
    border:1px solid white;
    border-radius: 7px; */
    background-color: rgb(235, 88, 72);
}
.footer-section{
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
} 